{% extends "base.html" %}

{% block title %}Django Product List{% endblock %}

{% block content %}

    <h1>Product List</h1>

    <ul style=" font-size: x-large; ">
{#        <li><img src="{{ product.image.thumb_url }}" style="width:100%"><a href="{% url 'product:detail' product.id %}">{{ product }}</a></li>#}
        <div class="row">
            {% for product in object_list %}
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <a href="{% url 'product:detail' product.id %}">
                        <img src="{{ product.image.thumb_url }}" alt="{{ product.title }}">
                        <div class="caption" style="text-align: center;">
                            <h3>{{ product.title }}</h3>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </ul>

{% endblock %}
