{% extends "base.html" %}

{% block title %}Django Product List{% endblock %}

{% block content %}

    <div class="row">

        <div class="product_wrap">
            <p><img src="static/img/product_t1.png" width="875" height="172" alt=""/></p>

                <ul class="product_list">
                    <li><a href="http://tademo.diquest.com/caf/" class="icon1" target="_blank">녹취분석시스템</a></li>
                    <li><a href="http://58.72.188.46:8000/" class="icon2" target="_blank">실시간상담코칭(Advisor)시스템</a></li>
                    <li><a href="http://tademo.diquest.com/dixsi/" class="icon3" target="_blank">TA분석시스템(라이트버전)</a></li>
                    <li><a href="http://tademo.diquest.com/ta_lotte/" class="icon4" target="_blank">상담사 품질 평가시스템</a></li>
                </ul>
        </div>

    </div>


{% endblock %}
