{% extends "base.html" %}

{% block title %}Django Product List{% endblock %}

{% block content %}

    <div class="row">

        <div class="product_wrap">
            <p><img src="static/img/product_t1.png" width="875" height="172" alt=""/></p>

                <ul class="product_list">
                    <li><a href="http://tademo.diquest.com:8000/5/" class="icon1">녹취분석시스템</a></li>
                    <li><a href="http://tademo.diquest.com:8000/6/" class="icon2">실시간상담코칭(Advisor)시스템</a></li>
                    <li><a href="http://tademo.diquest.com:8000/7/" class="icon3">TA분석시스템(라이트버전)</a></li>
                    <li><a href="http://tademo.diquest.com:8000/8/" class="icon4">상담사 품질 평가시스템</a></li>
                </ul>
        </div>

    </div>


{% endblock %}
