<!DOCTYPE html>
<html lang="ko">

{% load staticfiles %}
{% load bootstrap4 %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}home.html{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

    <!--[if lt IE 9]-->
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <!-- vuejs -->
    <script type="text/javascript" src="https://unpkg.com/vue@2.6.8/dist/vue.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% block extra-script %}{% endblock %}

    <!-- Diquest Custom Resources -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">


    {% block extra-style %}{% endblock %}

</head>

<body style="padding-top:90px;">

<!-- first line MENU -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav">
{#            <li class="active"><a href="{% url 'home' %}">Home</a></li>#}

            {% if user.is_staff %}
            <li class="menu-item dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">Product<b class="caret"></b></a>
                <ul class="dropdown-menu">

                    <li class="dropdown-submenu">
                        <a href="{% url 'product:index' %}" >Product</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'product:add' %}">Add</a></li>
                            <li><a class="dropdown-item" href="{% url 'product:change' %}">Change</a></li>
                        </ul>
                    </li>

                </ul>
            </li>
            {% else %}
            <li><a href="{% url 'product:index' %}">Product</a></li>
            {% endif %}

            <li class="menu-item dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">Technology<b class="caret"></b></a>
                <ul class="dropdown-menu">

                    <!--{% if 'morpheme.showmenu' in user.get_group_permissions %}
                    <li><a href="{% url 'morpheme:morpheme_index' %}">형태소분석기</a></li>
                    {% endif %}

                    {% if 'ml.showmenu' in user.get_group_permissions %}
                    <li><a href="{% url 'ml:index' %}">핵심문장 추출</a></li>
                    {% endif %}-->

                    <li><a href="{% url 'morpheme:morpheme_index' %}">형태소분석기</a></li>

                    <li><a href="{% url 'ml:index' %}">핵심문장 추출</a></li>

                    <li><a href="#">상담분류</a></li>

                    <li><a href="#">불완전판매검사 모듈</a></li>
<!--
                    {% if 'rtc.showmenu' in user.get_group_permissions %}
                    <li><a href="{% url 'rtc:index' %}">실시간 상담 어드바이저</a></li>
                    {% endif %}
-->
                </ul>
            </li>

            <li class="menu-item dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">Knowledge<b class="caret"></b></a>
                <ul class="dropdown-menu">

                    {% if user.is_staff %}

                    <li class="dropdown-submenu">
                        <a href="{% url 'knowledge:index' %}" >Knowledge 1</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'knowledge:add' %}">Add</a></li>
                            <li><a class="dropdown-item" href="{% url 'knowledge:change' %}">Change</a></li>
                        </ul>
                    </li>

                    <li class="dropdown-submenu">
                        <a href="{% url 'knowledge:index' %}" >Knowledge 2</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'knowledge:add' %}">Add</a></li>
                            <li><a class="dropdown-item" href="{% url 'knowledge:change' %}">Change</a></li>
                        </ul>
                    </li>

                    {% else %}

                    <li><a href="{% url 'knowledge:index' %}">Knowledge 1</a></li>
                    <li><a href="{% url 'knowledge:index' %}">Knowledge 2</a></li>

                    {% endif %}

                </ul>
            </li>

            <li class="menu-item dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">Communication<b class="caret"></b></a>
                <ul class="dropdown-menu">

                    {% if user.is_staff %}

                    <li class="dropdown-submenu">
                        <a href="{% url 'support:index' %}" >Support</a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'support:add' %}">Add</a></li>
                            <li><a href="{% url 'support:change' %}">Change</a></li>
                        </ul>
                    </li>

                    <li class="dropdown-submenu">
                        <a href="{% url 'photo:index' %}" >Photo</a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'photo:photo_add' %}">Add</a></li>
                            <li><a href="{% url 'photo:photo_change' %}">Change</a></li>
                        </ul>
                    </li>

                    {% else %}

                    <li><a href="{% url 'support:index' %}">Support</a></li>
                    <li><a href="{% url 'photo:index' %}">Photo</a></li>

                    {% endif %}

                </ul>
            </li>


            <li class="menu-item dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">Util<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'support:search' %}">Search</a></li>
                    {% if user.is_staff %}
                        <li><a href="{% url 'admin:index' %}">Admin</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                {% if user.is_active %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i>
                        {% firstof user.get_short_name user.get_username %}
                        <i class="caret"></i></a>

                    <ul class="dropdown-menu">
                        <li><a href="{% url 'password_change' %}">Change Password</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>

                {% else %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i> Anonymous<i class="caret"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'register' %}">Register</a></li>
                    </ul>
                {% endif %}
            </li>
        </ul>

        <form class="navbar-form navbar-right" action="{% url 'support:bssearch' %}">
            <div class="form-group" style="display:inline;">
                <div class="input-group">
                    <input type="text" class="form-control" name="search" placeholder="검색어를 입력하세요.">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                </div>
            </div>
        </form>

    </div><!--/.container -->
</nav><!--/.navbar -->

<div class="container">
    {% block content %}{% endblock %}
</div>

{% block script %}
<script>
$(function () {
    $('[rel=tooltip]').tooltip({
        delay: {show:10, hide:100}
    });
});
</script>
{% endblock script %}

{% block footer %}
<footer class="navbar-fixed-bottom footer-wrapper">

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <p>
                    Copyright &copy; 2019 Diquest by ekkim
                </p>
            </div>
            <nav class="col-md-7">
                <ul class="list-inline pull-right">
                    <li>
                        <a href="https://www.diquest.com/bbs/page.php?hid=m01_04" rel="tooltip" data-placement="top" data-original-title="Go to Business Area" target="_blank">Business Area</a>
                    </li>

                    <li>
                        <a href="https://www.diquest.com/bbs/page.php?hid=m02_03_01" rel="tooltip" data-placement="top" data-original-title="Go to Products Detail" target="_blank">Products</a>
                    </li>

                    <li>
                        <a href="https://www.diquest.com/" rel="tooltip" data-placement="top" data-original-title="https://www.diquest.com/" target="_blank">Homepage</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</footer>
{% endblock footer %}


</body>
</html>
