{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Diquest Demo Project{% endblock %}

{% block extra-style %}

<style type="text/css">

.homewindow {
    background-image: url("{% static 'img/logo.png' %}");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 500px;
    border-top: 10px solid #ccc;
    border-bottom: 10px solid #ccc;
    color: yellow;
    padding: 20px 0 0 20px;
}
.title {
    color: #c80;
    font-weight: bold;
}
.powered {
    position: relative;
    top: 77%;
    color: #cc0;
    font-style: italic;
}

</style>
{% endblock extra-style %}

{% block content %}

    <div class="homewindow">
        <h2 class="title">Django - Diquest Demo Project</h2>
        <h4 class="powered"><i class="glyphicon glyphicon-cog"></i> powered by diquest.</h4>
    </div>

    <hr style="margin: 10px 0;">

    <div class="row text-center">
        <div class="col-md-4">
            <h3>Product</h3>
            <p>You can store your own products by Product application. It's also possible to update or delete your products.</p>
        </div>
        <div class="col-md-4">
            <h3>Support</h3>
            <p>This application makes it possible to log daily events or write your own interests such as hobbies, techniques, etc.</p>
        </div>
        <div class="col-md-4">
            <h3>Photo</h3>
            <p>You can upload your own photos through this application. If you delete an photo, all photos within it will be deleted.</p>
        </div>
        <div class="col-md-4">
            <h3>Morpheme</h3>
            <p>You can upload your own photos through this application. If you delete an photo, all photos within it will be deleted.</p>
        </div>
         <div class="col-md-4">
            <h3>ML</h3>
            <p>Machine Learning</p>
        </div>
    </div>

{% endblock content %}
